/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

li, ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

/** Géneral **/


* { /* Ajout */
	box-sizing: border-box;
}

body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

a { /* Ajout */
	text-decoration: none;
	color: inherit;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

/* Section introduction */

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/* Section portfolio */

#portfolio h2 {
	text-align: center;
	/* margin-bottom: 1em; */
}

.filter-buttons { /* Ajout */
	display: flex;
	justify-content: center;
	gap: 0.6rem;
	margin: 50px;
}

.filter-buttons button { /* Ajout */
	min-width: 100px;
	font-family: 'Syne';
	color: #1D6154;
	font-size: 1rem;
	font-weight: 700;
	border: solid 1px #1D6154;
	background-color: white;
	border-radius: 60px;
	padding: 0.5em;
	cursor: pointer;
}

.filter-buttons button:hover { /* Ajout */
	color: white;
	background-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

/* Mise en forme des formulaires (sections Contact et page Login) */

#contact,
#login {
	width: 50%;
	margin: auto;
}

#contact > *,
#login > * {
	text-align: center;
}

#contact h2,
#login h2 {
	margin-bottom: 20px;
}

#contact form,
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login form {
	width: 60%;
	margin: auto;
}


#contact input,
#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#login label {
	margin: 2em 0 1em 0;
}

#login span { /* Ajout */
	text-align: center;
	margin-top: 1rem;
}

#login a:hover {
	color: #B1663C;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}


/* Homepage mode édition */

.header-mode-edition {
	padding-top: 59px;
}

.bandeau-mode-edition {
	color: white;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 59px;
}

.titre-section-projet {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin-bottom: 30px;
}

.edit-button {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.edit-button:hover {
	color: #B1663C;
}

/* Modale : général */

.modal-background,
.popup-background {
	display: flex;
	justify-content: center; /* Pour centrer la fenêtre modale horizontalement  */
	align-items: center; /* Pour centrer la fenêtre modale verticalement */
	position: fixed;
	top: 59px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
	background-color: white;
	width: 630px;
	height: 688px;
	max-width: calc(80vh);
	max-height: calc(80vh);
	overflow: auto;
	position: relative;
	border-radius: 10px;
	padding: 20px;
}

.modal-vue {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.modal-action-buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.modal-close-btn, .modal-previous-btn {
	border: none;
	background-color: white;
	font-size: 1.2rem;
	padding: 3px 7px;
	display: flex;
	cursor: pointer;
}

.modal-title {
	font-size: 1.6rem;
	margin-top: 10px;
	margin-bottom: 25px;
}

.modal-content {
	margin: 25px 0 0 0;
	width: 75%;
}

.modal-submit-btn {
	font-family: 'Syne';
	color: white;
	font-size: 1rem;
	font-weight: 700;
	border: solid 1px #1D6154;
	background-color: #1D6154;
	border-radius: 60px;
	width: 237px;
	padding: 0.7em 0;
	cursor: pointer;
	margin-top: 25px;
	margin-bottom: 25px;
}

hr {
	border: solid 1px;
	display: block;
	color: #B3B3B3;
	width: 100%;
	margin: 50px 0 0 0;
}


/* Modale vue 1 : Galerie photo */

.modal-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 30px;
}

.modal-gallery figure {
	position: relative;
}

.modal-gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
	z-index: 1;
}

.modal-delete-button {
	color: white;
	background-color: black;
	border: none;
	border-radius: 3px;
	padding: 5px;
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 2;
	cursor: pointer;
}

/* Modale vue 2 : Ajout photo */

.modal-add-work {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#modal-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#modal-form label {
	margin: 2em 0 0.5em 0;
	font-weight: 500;
}

.placeholder {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	background-color: #E8F1F6;
	padding: 20px;
	position: relative;
}

.placeholder img {
	position: absolute;
	height: 100%;
}

.placeholder .fa-image {
	font-size: 4.5rem;
	color: #CBD6DC;
}

.placeholder label {
	margin: 0.5em 0;
}

.btn-ajouter-photo {
	display: block;
	font-size: 0.9rem;
	font-weight: 500;
	width: fit-content;
	padding: 10px 30px;
	color:#306685;
	background-color: #CBD6DC;
	border-radius: 50px;
	cursor: pointer;
}

.accept {
	font-size: 0.6rem;
	color: #444444;
}

#modal-form input[type="text"],
#modal-form select {
	color: #444444;
	background-color: white;
	width: 100%;
	height: 50px;
	font-size: 0.8rem;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.btn-submit-work:disabled {
	background-color: #A7A7A7;
	border: solid 1px #A7A7A7;
	cursor: default;
}


/* Popups */

dialog::backdrop {
	position: fixed;
	top: 59px;
	background-color: rgba(0, 0, 0, 0.3);
}

dialog {
	background-color: white;
	overflow: auto; /* Utile ou pas ? */
	border: none;
	border-radius: 10px;
	padding: 20px;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

dialog[aria-hidden="true"] {
	display: none;
}

.popup-buttons {
	display: flex;
	gap : 0.5rem;
}

.popup-submit-btn {
	font-family: 'Syne';
	color: white;
	font-size: 1rem;
	font-weight: 700;
	border: solid 1px #1D6154;
	background-color: #1D6154;
	border-radius: 60px;
	width: 100px;
	padding: 0.7em 0;
	cursor: pointer;
	margin-top: 25px;
}

/* Laisser à la fin */

.inactive {
	display: none;
}

.hidden {
	visibility: hidden;
}